PORT=8000
MINIO_PUBLIC_ENDPOINT=[host]
MINIO_ENDPOINT=[minio-service-name]
MINIO_PORT=9000
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=secreto
MINIO_BUCKET_NAME=media
RABBITMQ_URL=amqp://[user]:[pass]@[service-name]:5672/%2f[user]
ISSUER_URL=[url]